*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(250, 250, 250);
}

@font-face{
    font-family: f1;
    src: url(/fonts/Oxygen/Oxygen-Bold.ttf);
}

@font-face{
    font-family: f2;
    src: url(/fonts/Oxygen/Oxygen-Light.ttf);
}

@font-face{
    font-family: f3;
    src: url(/fonts/Segoe_UI/SegoeUIBold.ttf);
}


header{

    width: 100%;
    height: 78px;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}

#hide-header{
    transition: all .4s ease;
}


header .container{
    position: sticky;
    width: 64%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
  /* background-color: aquamarine; */
}

header .container .logolink{
    height: 50px;
    width: 50px;

}

.container .navbar{
    height: 100%;
    width: 30%;
    font-family: sans-serif;

}

.container .navbar .navlink{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

 .container .navbar .navlink  li{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;
}


.container .navbar .navlink li a  {
   text-decoration: none;
   color: #000;
}

.container .navbar .navlink li a::before{
    content: ' ';
    position: absolute;
    height: 1px; bottom: 80%;
    width: 0;
    background-color: rgb(47, 120, 255);
    transition:  0.35s ;
}

.container .navbar .navlink li a:hover:before{
    width: 6%;
}

.container .navbar .navlink li .aboutus:hover:before{
    width: 4%;
}



/* blocks */

.maincontainer{
    position: relative;
    /* background-color: aquamarine; */
    margin-top: 5vh;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-between;

}

.maincontainer .mainblock{
    /* background-color: black; */
    width: 45%;
    height: 100%;
    margin-left: 40vh;
    padding-top: 50px;
}

.maincontainer .imageblock{
    width: 45%;
    height: 100%;
}

.maincontainer .imageblock  .firsti{
    padding-top: 10vh;
    height: 50vh;
    width: 60vh;

}





.maincontainer .mainblock h2{
    line-height: 69px;
    font-weight: 800;
    font-size: 49px;
    font-family: f1;
}

.maincontainer .mainblock strong{
   color:  rgb(0, 109, 231);
}

.maincontainer .mainblock .secblock{
    padding-top: 2%;
    padding-right: 10%;
    /* background-color: blue; */
    width: 82.5%;
    height: 30%;
}

.maincontainer .mainblock .secblock h1{
    font-size: 20px;
}

.maincontainer .mainblock .secblock p{
    margin-top: 6px;
    font-family: f2;
    font-size: 18px;
}

.maincontainer .mainblock .buttons{
    /* background-color: blueviolet; */
    width: 100%;
    height: 20%;
    margin-top: 16%;
    padding-right: 10%;
}


.maincontainer .mainblock .buttons .tryfree{
    height: 40px;
    width: 222px;
    border-radius: 24px;
    border: 0;
    border-style: solid; 
    line-height: 14px;
    text-decoration: none;
    text-decoration-style: solid; 
    background-color: rgb(0, 4, 255);
    color: #fff;
    margin-right: 10px;
    font: bold 16px f3 ;
    cursor: pointer;
}

.maincontainer .mainblock .buttons .tryfree:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 13px 0px;
}

.maincontainer .mainblock .buttons .usl{
    height: 40px;
    width: 222px;
    border-radius: 24px;
    border: 0;
    font-size: 14px;
    border-style: solid; 
    line-height: 14px;
    text-decoration: none;
    text-decoration-style: solid; 
    background-color: rgb(250, 248, 248);
    color: rgb(0, 54, 255);
    font: bold 16px f3;
    cursor: pointer;
}

.maincontainer .mainblock .buttons .usl:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 13px 0px;
}

/* section2 */

.reasons{
    position: relative;
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
}

.reasons .reasblock{
    width: 62%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reasons .reasblock div{
    height: 300px;
    width: 440px;
    
}




.reasons .reasblock .opensource_r div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
}

.reasons .reasblock .opensource_r  h1{ 
    margin-left: 30px;
    font-family: f3;
}

.reasons .reasblock .opensource_r p{
    font-family: f2;
    font-size: 18px;
}

.reasons .reasblock .opensource_r  super{ 
    font-family: f3;
}

.reasons .reasblock .es div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
}

.reasons .reasblock .es  h1{ 
    margin-left: 30px;
    font-family: f3;
}

.reasons .reasblock .es p{
    font-family: f2;
    font-size: 18px;
}

.reasons .reasblock .es  super{ 
    font-family: f3;
}

.discord{
    width: 100%;
    height: 70vh;
    display: flex;
    background-color: rgb(26, 26, 26);
    justify-content: space-between;
}

.discord .joinmain{
    /* background-color: #000; */
    width: 45%;
    margin-left: 20vh;
}

.discord .joinmain .hs{
    margin-top: 10vh;
    width: 100%;
    height: 15vh;
    color: #fff;
}

.discord .joinmain .hs h2{
    font-size: 29px;
    font-family: f1;
   
}

.discord .joinmain .hs h2 strong{
    color: rgb(0, 153, 255);
}

.discord .joinmain .textdiv{
   width: 100%;
   height: 20vh;
   color: #fff;
   font-family: f3;
   font-size: 20px;
}


 

.discord .images{
    padding-top: 5%;
    width: 45%;
}

.discord .images .logo4{

    width: 10%;
    height: 14%;
    float: right;
    margin-right: 4vh;
    margin-bottom: 20px;
}


.discord .images img{

    width: 96%;
   
}

footer{
    display: flex;
    background-color: rgb(13, 13, 13);
    height: 10vh;
    justify-content: center;
    align-items: center;
}

footer .info{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-between;
}

footer .com{
    display: flex;
    align-items: center;
}

footer .com p{
    color: #fff;
    font-family: f3;
    font-size: 20px;
}

footer .com img{
   height: 70px;
   width: 70px;
}

footer .apps{
    display: flex;
    margin-right: 15vh;
    margin-top: 6vh;
}

footer .apps img{
   height: 20px;
   width: 20px;
   margin-left: 20px;
   color: #fff;
}